    @model IEnumerable<Chude>
 
        @foreach(var item in Model)
        {   
    <li>

        <a class="active" asp-controller="Home" asp-action="SachTheoChuDe" asp-route-machude="@item.MaCd"><i class="icon-chevron-right"></i>@item.TenChuDe</a>
    </li>
    }







@* 
    <script>
    function showProductByCategory(getUrl) {
        var str = '';
        $.ajax({
            type: 'GET',
            url: getUrl,
            dataType: 'json',
            success: function (data) {
                $.each(data, function (key, val) {
                    str += '<div class="col-lg-3 col-md-4 col-sm-6 pb-1">';
                    str += '<div class="product-item bg-light mb-4">';
                    str += '<div class="product-img">';
                    str += '<img class="w-100" src="../Images/Images/';
                    str += $.trim(val.AnhDaiDien);
                    str += '">';
                    str += '<div class="product-action">';
                    str += '<a class="btn btn-outline-dark btn-square rounded-0" href="#"><i class="fa fa-shopping-cart"></i></a>';
                    str += '<a class="btn btn-outline-dark btn-square rounded-0" href="#"><i class="far fa-heart"></i></a>';
                    str += '</div>'; // Close product-action div
                    str += '</div>'; // Close product-img div
                    str += '<div class="text-center py-4 product-info">';
                    str += '<a class="product-info__name" href="/Home/ChiTietSanPham?maSp=' + val.MaSp + '">' + val.TenSp + '</a>';
                    str += '<div class="d-flex align-items-center justify-content-center mt-2">';
                    str += '<h5>' + val.GiaLonNhat + '</h5>';
                    str += '<h6 class="text-muted ms-2 text-decoration-line-through">$123.00</h6>';
                    str += '</div>'; // Close d-flex div
                    str += '<div class="d-flex align-items-center justify-content-center mb-1">';
                    str += '<small class="fa fa-star text-primary me-1"></small>';
                    str += '<small class="fa fa-star text-primary me-1"></small>';
                    str += '<small class="fa fa-star text-primary me-1"></small>';
                    str += '<small class="fa fa-star text-primary me-1"></small>';
                    str += '<small class="fa fa-star text-primary me-1"></small>';
                    str += '<small>(99)</small>';
                    str += '</div>'; // Close d-flex div
                    str += '</div>'; // Close product-info div
                    str += '</div>'; // Close product-item div
                    str += '</div>'; // Close col-lg-3 div
                });
                $("#displayProducts").html(str);
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    </script> *@